.consultation {
    min-height: 680px;
    background: url('../img/consultation-bg.png') center center / cover no-repeat;
    padding: 100px 0 ;
    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
    }
}